PORT=5001
NODE_ENV=development
MONGO_URI=mongodb+srv://dj:DjAdmin123@cluster0.aosq7tw.mongodb.net/?appName=Cluster0
JWT_SECRET=supersecretjwtkeythatshouldbechanged
JWT_EXPIRES_IN=7d
CLIENT_URL=http://localhost:5173
GEMINI_API_KEY=AIzaSyAFC2zEaat_dBZTdt3c8QR3FY19d3FqyHw
